<?xml version="1.0"?>
<config>
    <modules>
        <Mimo_Mimo>
            <version>0.1.2</version>
        </Mimo_Mimo>
    </modules>
    <global>
        <models>
            <mimo>
                <class>Mimo_Mimo_Model</class>
            </mimo>
        </models>
        <helpers>
            <mimo>
                <class>Mimo_Mimo_Helper</class>
            </mimo>
		</helpers>
        <resources>
            <mimo_setup>
                <setup>
                    <module>Mimo_Mimo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mimo_setup>
            <mimo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mimo_write>
            <mimo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mimo_read>	
        </resources>
		<blocks>
            <mimo><class>Mimo_Mimo_Block</class></mimo>
        </blocks>
		<rewrite>
			<mimo_mimo_processing>
				<from><![CDATA[#^/checkout/onepage#]]></from>
				<to>/mimo/processing</to>
			</mimo_mimo_processing>
		</rewrite>
    </global>
	<frontend>
		<routers>
			<mimo>
				<use>standard</use>
				<args>
					<module>Mimo_Mimo</module>
					<frontName>mimo</frontName>
				</args>
			</mimo>
		</routers>
        <layout>
            <updates>
                <mimo>
                    <file>mimo.xml</file>
                </mimo>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <mimo>
                <model>mimo/paymentmethod</model>
                <title>Mimo</title>
				<active>0</active>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
				<allowspecific>0</allowspecific>
            </mimo>
        </payment>
    </default>
</config>
